<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Generator</title>
  <style>
    body {
      margin: 0;
      font-family: Monaco;
      background: #f6f8fa;
      --background: #f6f8fa;
      transition: background 0.2s, color 0.2s;
      padding-left: 24px;
    }
    [v-cloak] {
      visibility: hidden;
    }
    button {
      padding: 6px 12px;
    }
    .generated > div{
      margin-top: 12px;
    }
    .callback {
      margin-top: 12px;
    }
    .nagetive {
      padding-top: 36px;
    }
  </style>
</head>
<body>
  <div id="app" class="app">
    <div class="prefix">
      <h2 class="title">
        前缀
      </h2>
      <input v-model="prefix">
    </div>
    <div class="positive">
      <h2 class="title">
        Positive
      </h2>
      <div class="generated">
        <button @click="handleGenerate">re-generate</button>
        <div>
          {{prefix}}<!--
          --><span v-for="item in result" :key="item.key"><!--
            -->{{item.text}};<!--
          --></span><!--
        --></div>
      </div>
      <div class="callback">
        <button :disabled="sended" @click="sendCallback(true)">useful</button>
        <button :disabled="sended" @click="sendCallback(false)">useless</button>
      </div>
    </div>
    <div class="nagetive">
      <h2 class="title">
        Nagetive
      </h2>
      <div class="generated">
        <button @click="handleGenerateRevert">re-generate</button>
        <div>
          {{prefix}}<!--
          --><span><!--
            -->{{resultRevert.text}};<!--
          --></span><!--
        --></div>
      </div>
      <div class="callback">
        <button :disabled="sendedRevert" @click="sendCallbackRevert(true)">useful</button>
        <button :disabled="sendedRevert" @click="sendCallbackRevert(false)">useless</button>
      </div>
    </div>
  </div>
  <script src="https://s1.pstatp.com/cdn/expire-1-M/vue/2.6.10/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          prefix: '一鸣同学',
          result: [],
          resultRevert: {},
          sended: false,
          sendedRevert: false,
        };
      },
      computed: {
      },
      async created() {
        this.handleGenerate();
        this.handleGenerateRevert();
      },
      methods: {
        async handleGenerate() {
          try {
            const data = await fetch('/api/generate', {
              method: 'GET',
              headers: {
                Accept: 'application/json',
              },
            });
            const json = await data.json();
            this.sended = false;
            console.log(json);
            this.result = json.data;
          } catch(e) {
            console.error(e);
          }
        },
        async sendCallback(useful) {
          try {
            this.sended = true;
            const data = await fetch('/api/fallback', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json',
              },
              body: JSON.stringify({
                useful: useful? 1:0,
                data: this.result,
              }),
            });
            const json = await data.json();
            console.log(json);
          } catch(e) {
            console.error(e);
          }
        },



        async handleGenerateRevert() {
          try {
            const data = await fetch('/api/generate-revert', {
              method: 'GET',
              headers: {
                Accept: 'application/json',
              },
            });
            const json = await data.json();
            this.sendedRevert = false;
            console.log(json);
            this.resultRevert = json.data;
          } catch(e) {
            console.error(e);
          }
        },
        async sendCallbackRevert(useful) {
          try {
            this.sendedRevert = true;
            const data = await fetch('/api/fallback-revert', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json',
              },
              body: JSON.stringify({
                useful: useful? 1:0,
                data: this.resultRevert,
              }),
            });
            const json = await data.json();
            console.log(json);
          } catch(e) {
            console.error(e);
          }
        },
      },
    });
  </script>
</body>
</html>
